body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  padding: 30px;
}

.container {
  background: white;
  display: inline-block;
  text-align: left;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.1);
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 8px 15px;
  background-color: rgb(3, 104, 99);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(18, 139, 123);
}

.result {
  margin-top: 20px;
  font-weight: bold;
}
