body {
  font-family: Arial, sans-serif;
  background-color: #eef2f3;
  text-align: center;
  color: black;
  padding: 30px;
}

.container {
  display: inline-block;
  text-align: left;
  background: white;
  padding: 25px 35px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.1);
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  background-color: #2292ee;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0b7dda;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}
